.addWorkerBtn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
