.wrapperAddWork {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.addWorkButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.addWorkDeleteButton {
  background-color: #f30616;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.item-container {
  bottom: 50px;
  right: 50px;
}

.addWorkInputs {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

select {
  border-radius: 10px;
  padding: 5px;
}

.btnFinishWork {
  bottom: 50%;
  right: 50%;
}
