.addWorkBtn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 120px;

  background-color: aqua;
}

.activeWork {
  background-color: red;
}

.table-container {
  border-radius: 5px;

  padding: 2px;
}
