.card-container {
  display: flex;
  flex-direction: row;
  padding: 32px;

  width: 30px;
  height: 50px;
  box-shadow: 17px black;
  border-radius: 17px;
  border-bottom: 1px solid black;
  margin: 10px;
}

.card-elements {
  display: flex;
  padding: 24px;
}
