button:hover,
button:focus {
  background-color: #464b46;
  color: white;
}
.assignWorkButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}
.containerAssignWork {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  flex-direction: column;
}

select,
option {
  border-color: transparent transparent transparent;
}

.inputAssignWork {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
