.navbarParent {
  display: flex;

  height: 95px;
  width: 100%;

  align-items: center;
  background-color: white;
  border-bottom: 6px solid #4caf50;
}

.navbarItem {
  display: flex;

  flex: 1;
  margin-left: 50px;
  font-size: 34px;
  font-weight: bold;
}

.navbarItem img {
  size: 20px;
  font-family: "Rubik";
}

.logoutNavbarItem {
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: #4caf50;
}

a:hover,
a:focus {
  color: black;
}
