.showResultsTable {
  width: 100%;
  margin: 20px;
}

.showResultsButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showResultsCalendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.showResultsCalendarItem {
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.resultsButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}
.showResultsTableContainer {
  display: flex;
  flex-direction: column;
  border-top: #4caf50 5px solid;
  margin-top: 1%;
}
